<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ahegao - Editar Categorias</title>
        <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.5/build/pure-min.css" integrity="sha384-LTIDeidl25h2dPxrB2Ekgc9c7sEC3CWGM6HeFmuDNUjX76Ert4Z4IY714dhZHPLd" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/global.css">

        <style>
            div.container {
                display: flex;
                align-items: center;
                flex-direction: column;
            }
        </style>
    </head>
    <body>
        

        <div class="container">
            <h1>Tags</h1>
       
        

            <table class="pure-table pure-table-bordered">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Título</th>
                        <th>Slug</th>
                        <th>Ações</th>        
                    </tr>
                </thead>


                <tbody>
                    <% tags.forEach(tag => { %>
                        
                        <tr>
                            <td><%= tag.id %></td>
                            <td><%= tag.title %></td>
                            <td><%= tag.slug %></td>
                            <td>
                                <a href="/admin/tags/edit/<%= tag.id %>" class="button-secondary pure-button">Editar</a>
        
                                <form method="POST" action="/tags/delete" style="display: inline;" onsubmit="confirmarDelecao(event, this)">
                                    <input type="hidden" name="id" value="<%= tag.id%>">
                                    <button class="button-error pure-button">Deletar</button>
                                </form>
                            
                            </td>
                        </td>
                    <% }) %>
                </tbody>
            </table><br>
            <a href="/admin/tags/new" class="button-success pure-button">Criar nova tag</a><br>
        </div>
    </body>

    
    <script>
        const confirmarDelecao = (event, form) => {

            event.preventDefault();

            let decision = confirm("Tem certeza que deseja excluir essa tag ?")

            if(decision) {
                form.submit()
            }
        }
    </script>
</html>